.game {
    text-align: center;
}

.game h2 {
    margin-bottom: 1rem;
}

.game h3 {
    margin-bottom: 0.5rem;
}

.game h4 {
    margin-bottom: 1rem;
}

.game h5 {
    margin-top: 0.5rem;
}

.game button {
    margin: 0.5rem;
}